<%= turbo_frame_tag 'create_todo' do %>
  <%= form_with(model: to_do) do |form| %>
    <% if to_do.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(to_do.errors.count, "error") %> prohibited this to_do from being saved:</h2>

        <ul>
          <% to_do.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :memo, style: "display: block" %>
      <%= form.text_area :memo %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
