<p style="color: green"><%= notice %></p>

<h1>To dos</h1>

<div id="to_dos">
  <%= turbo_frame_tag 'todo_index' do %>
    <% @to_dos.each do |to_do| %>
      <%= render to_do %>
      <p>
        <%= link_to "Show this to do", to_do %>
      </p>
    <% end %>
  <% end %>
</div>

<%= render "form", to_do: @to_do %>
